#Data to be excluded
/soanalenv/
README_project.md

!/data/sweden_data/analysis/
!/data/sweden_data/analysis/
# Exclude everything in data directory
/data/*
# But include this specific subfolder




# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/